<!doctype html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
   <form action="/post" method="POST">
      <div>
          <label for="name">Name:</label>
          <input name="name" type="text"/>
          <input type='submit' value='Complete'>
      </div>
   </form>
  </body>
</html>











